.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__text {
        inline-size: min(95vw, 60ch);
    }
    &__symbols {
        display: flex;
        justify-content: space-evenly;
    }
    &__img {
        inline-size: min(95vw, 60ch);
    }
}