/* VARIABLES */

/* @link https://utopia.fyi/type/calculator?c=320,36,1.2,1850,68,1.25,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* Step -5: 14.4676px → 22.2822px */
$step--5: clamp(0.9042rem, 0.8021rem + 0.5108vw, 1.3926rem);
/* Step -4: 17.3611px → 27.8528px */
$step--4: clamp(1.0851rem, 0.9479rem + 0.6857vw, 1.7408rem);
/* Step -3: 20.8333px → 34.816px */
$step--3: clamp(1.3021rem, 1.1193rem + 0.9139vw, 2.176rem);
/* Step -2: 25px → 43.52px */
$step--2: clamp(1.5625rem, 1.3204rem + 1.2105vw, 2.72rem);
/* Step -1: 30px → 54.4px */
$step--1: clamp(1.875rem, 1.556rem + 1.5948vw, 3.4rem);
/* Step 0: 36px → 68px */
$step-0: clamp(2.25rem, 1.8317rem + 2.0915vw, 4.25rem);
/* Step 1: 43.2px → 85px */
$step-1: clamp(2.7rem, 2.1536rem + 2.732vw, 5.3125rem);
/* Step 2: 51.84px → 106.25px */
$step-2: clamp(3.24rem, 2.5288rem + 3.5562vw, 6.6406rem);
/* Step 3: 62.208px → 132.8125px */
$step-3: clamp(3.888rem, 2.9651rem + 4.6147vw, 8.3008rem);
/* Step 4: 74.6496px → 166.0156px */
$step-4: clamp(4.6656rem, 3.4713rem + 5.9716vw, 10.376rem);
/* Step 5: 89.5795px → 207.5195px */
$step-5: clamp(5.5987rem, 4.057rem + 7.7085vw, 12.97rem);