@use "../abstracts/variables" as v;

/* HERO SECTION */
.hero {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   inline-size: 100%;
   block-size: 100vh;
    &__intro {
        inline-size: min(100%, 70ch);
    }
    &__heading {
        display: inline-block;
        border-bottom: solid green 2px;
        margin-bottom: 1rem;
        font-size: v.$step-0;
        line-height: 1;
        text-transform: uppercase;
    }
    &__subheading {
        font-size: v.$step--1;
    }
    &__description {
        max-width: 20ch;
        margin-inline: auto;
        font-size: v.$step--2;
    }
    &__profile {
        inline-size: min(100%, 55ch);
        padding-bottom: 1rem;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
        background-color: beige;
        overflow: hidden;
    }
    &__bio {
        list-style: none;
        font-size: v.$step--4;
    }
    &__arrow {
        position: absolute;
        bottom: 2rem;
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 1048px) {
  .hero {
    flex-direction: row;
  }
}