/* FONTS */
@font-face {
    font-family: "Rubik";
    src: url(../../assets/fonts/rubik.ttf);
}
@font-face {
    font-family: "Taviraj";
    src: url(../../assets/fonts/taviraj.ttf);
}
@font-face {
    font-family: "Roboto Mono";
    src: url(../../assets/fonts/roboto-mono.ttf);
}